/* font-family: 'Noto Serif', serif;
font-family: 'Pavanam', sans-serif;
*/

#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position:relative;
	
}|

body{
	background-image: url (..img\fondo.jpeg) ;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

h2{
font-family: 'Noto Serif', serif;
color: black;
margin left: 500px;
font size:60px;
text text-align: center;

}

header{
	width: 1000px;
	height: 120px;
	background: rgba(255, 255,255, 3,5);
}

nav{
width: 195px;
height: 40px;
background: white;
border-radius: 10px;
}

ul{
	margin:10px;
	padding-top: 4px
	
}

li{
	float border-right-style;
	list-style-type: none;
	color text-decoration: blink;
	padding: 10px;
	background: black;
	margin: 3px;
	border-radius: 10px;
	box-shadow: 0 0 10 white inset;
}


.ancho_menu_home{width:900px;}
.ancho_menu_paginas{width:970px;}

.menu_link{color:white; text-decoration: none}
.menu_visited{color:white; text-decoration: none}
.menu_.hover{color:white; text-decoration: none; text-shadow: 0 0 5px white;}
.menu_active{color:white; text-decoration: none}

